<div class="navbar">
  <div class="navbar-content">
    <h1 class="brand">{{ title.toUpperCase() }}</h1>
    <ul class="navigation">
      <li>
        <a
          [routerLink]="['/']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >HOME</a
        >
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active-link">ABOUT</a>
      </li>
    </ul>
  </div>
</div>
<h1>{{ response.test || "loading..." }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div id="special">
  <img src="{{ temp }}" alt="" />
</div>
